<div data-role="view" data-layout="main" data-model="app.controlPoint" data-init="app.controlPoint.onShowSectionInit" data-show="app.controlPoint.onShowSection" style="" dir="rtl">
    <header data-role="header">
        <div data-role="navbar" class="header" style="background: linear-gradient(5.58deg, #923714 0%, #f7931e 100%);">
            <span id="controlPointLabel"></span>
            <a class="headerButton" data-role="button" data-align="right" style="color: white;" href="components/hightGuard/view.html">
                <i class="material-icons" style="color:white">home</i>
            </a>
            <a class="headerButton" id="" data-role="button" data-align="left" style="color: white;" href="#:back">
                <i class="material-icons" style="color:white">navigate_next</i>
            </a>
        </div>

    </header>


    <div style="background-color: transparent;height:3px;"></div>
    <center>
        <div id="sectionStatusDiv" style="width:100%;background-color: #fff;"></div>
        <br />
        <div style="width:100%;background-color: #fff;">
            <!-- תמונה 1 -->
            <div class="divFinding" dir="rtl" style="border:none;">
                <table border="0" style="width:100%">
                    <tr style="width:100%">
                        <td style="width:80%">
                            <label style="color:rgba(0, 0, 0, 0.82); font-family:Tahoma, Geneva, sans-serif;font-weight: 200;font-size:small;"> תמונה 1</label>
                        </td>
                        <td style="width:20%">
                            <a data-role="button" id="capturePhoto1" onclick="takeIdImage(this.id)" data-icon="cameraNew" style="color:rgba(0, 0, 0, 0.82);background-color:transparent;border-style: none;right:57%;"></a>
                        </td>
                    </tr>
                </table>

            </div>
            <!-- תמונה 2 -->
            <div class="divFinding" dir="rtl" style="border:none;">
                <table border="0" style="width:100%">
                    <tr style="width:100%">
                        <td style="width:80%">
                            <label style="color:rgba(0, 0, 0, 0.82); font-family:Tahoma, Geneva, sans-serif;font-weight: 200;font-size:small;"> תמונה 2</label>
                        </td>
                        <td style="width:20%">
                            <a data-role="button" id="capturePhoto2" onclick="takeIdImage(this.id)" data-bind="enabled:flagImage" data-icon="cameraNew" style="color:rgba(0, 0, 0, 0.82);background-color:transparent;border-style: none;right:57%;"></a>
                        </td>
                    </tr>
                </table>

            </div>
            <!--הערות נוספות-->
            <div class="divFinding" dir="rtl" style="border-bottom-color:transparent;">
                <table border="0" style="width:100%">
                    <tr style="width:100%">
                        <td style="width:80%">
                            <label style="color:rgba(0, 0, 0, 0.82); font-family:Tahoma, Geneva, sans-serif;font-weight: 200;font-size:small;">הערות נוספות</label>
                        </td>
                        <td style="width:20%">
                            <a id="description_all_control_point" data-bind="events: {click:homeModel.open_pop_item_description}" data-role="button" data-icon="descriptionPenNew" style="color:rgba(0, 0, 0, 0.82);background-color:transparent;border-style: none;right: 57%;"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </center>
    <!--פוטר -->
    <footer data-role="footer" style="background-color:#e9eaeb;">
        <center>
            <div>
                <a data-role="button" data-bind="events: {click:homeModel.saveControlPoint}" style="font-family: Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;align-self:center;width:94%;    margin-top: 3%;margin-bottom: 3%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                    <span style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;font-weight: 200;">שמור</span>
                </a>
            </div>
        </center>
    </footer>
    <script>

        function takeIdImageS(id) {
            app.controlPoint.homeModel.set("cameraIdSeif", id)
            if (document.getElementById(id).style.color == "red") {
                var realId = "";
                for (var i = 5; i < id.length; i++) {
                    realId += id[i];
                }
                var arr = app.controlPoint.homeModel.get("arrSeifImage");
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].id == realId) {
                        document.getElementById("pictureSeif").src = arr[i].src;
                        app.controlPoint.homeModel.set("cameraIdSeifSrc", arr[i].src2);
                        app.controlPoint.homeModel.set("cameraIdSeifSrcGibuy", arr[i].src2);
                    }
                }

                $("#popImageSeif").kendoMobileModalView("open");
            }
            else {

                $("#picturedropListSeif").kendoMobileModalView("open");
            }

        }
        function takeFromCameraS() {
            app.controlPoint.homeModel.takePhotoS();
        }
        function takeFromGaleryS() {
            app.controlPoint.homeModel.getPhotoLibraryS();
        }

        function changeImageSeif() {
            $("#popImageSeif").kendoMobileModalView("close");
            $("#picturedropListSeif").kendoMobileModalView("open");
        }
        function closePopImageSeif() {
            $("#popImageSeif").kendoMobileModalView("close");
        }
        function cancelPopS() {
            $("#picturedropListSeif").kendoMobileModalView("close");
        }

        function getSketchSeifB() {
            if (app.hightGuard.homeModel.get("currentCheck").cb_isPublish != 1) {
                $("#popImageSeif").kendoMobileModalView("close");
                //getSketchSeif();
                getSketchSeif();
            }
        }


        function takeIdImage(id) {
            if (id == "capturePhoto2") {
                if (app.controlPoint.flagImage == true) {
                    app.controlPoint.homeModel.set("cameraId", id)
                    app.controlPoint.homeModel.ifOpenPictureFrom();
                }
            }
            else {
                app.controlPoint.homeModel.set("cameraId", id)
                app.controlPoint.homeModel.ifOpenPictureFrom();
            }

        }
        function takeFromGalery() {
            app.controlPoint.homeModel.getPhotoLibrary();
        }
        function takeFromCamera() {
            app.controlPoint.homeModel.takePhoto();
        }
        function takeFromGalery1() {
            app.controlPoint.homeModel.getPhotoLibrary1();
        }
        function takeFromCamera1() {
            app.controlPoint.homeModel.takePhoto1();
        }


        function myChooseSectionStatus(controlPointId, thisId) {
            var statusId = "";
            for (var i = 0; i < thisId.length - 2; i++) {
                statusId += thisId[i]
            }
            if (document.getElementById(thisId).checked == true) {
                app.controlPoint.homeModel.addToSectionStatusArr(controlPointId, statusId);
            }
            else {
                app.controlPoint.homeModel.removeToSectionStatusArr(controlPointId);
            }
        }


        function myChooseSectionStatusN(this1, seif, val) {
            app.controlPoint.homeModel.myChooseSectionStatusN(this1, seif, val);
            //var arrObjectes = app.controlPoint.homeModel.get('arrObjectes');
            //for (var i = 0; i < arrObjectes.length; i++) {
            //    for (var j = 0; j < arrObjectes[i].arrSeif.length; j++) {
            //        if (arrObjectes[i].arrSeif[j].id == seif) {
            //            arrObjectes[i].arrSeif[j].value = val;
            //            break
            //        }

            //    }
            //}
            //app.controlPoint.homeModel.set('arrObjectes', arrObjectes)

        }

        function oneChecked() {
            $("input:checkbox").on('click', function () {
                var $box = $(this);
                if ($box.is(":checked")) {
                    var group = "input:checkbox[name='" + $box.attr("name") + "']";
                    $(group).prop("checked", false);
                    $box.prop("checked", true);
                } else {
                    $box.prop("checked", false);
                }
            });
        }
    </script>
    <script>
        function openPopAdditionalComments(id) {
            app.controlPoint.homeModel.openPopAdditionalComments(id);
        }
    </script>
    <!--פופאפ  הערות-->
    <div data-use-native-scrolling="true" data-role="modalview" id="popAdditionalComments" style="left:1px;width: 98%; height:98%;">
        <!-- <br />
        <div style="width:100%;height:36%; background-color:#e9eaeb;box-shadow:0 4px 2px -2px #c7c1c1;">
            <label style="max-width: 90%;box-shadow: 0px 2px 3px #A29E9E;background-color:#1A607C;font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;font-weight: 200;text-align:right;padding-left: 6px;padding-top: 2px;padding-right: 12px;padding-bottom: 3px;float: right;" id="AdditionalCommentsSub">הערות נוספות</label>
        </div>
        <br />
        <br />
        <br /> -->

    <header data-role="header">
       <div style="width:100%;padding:2%;background-color:#1A607C;">
         <center>
          <label id="AdditionalCommentsSub" style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;font-weight: 400;text-align:center;">
            הערות
            </label>
         </center>
       </div>
    </header>
     <br />
       
        <div style="text-align:center;" dir="rtl">
            <center>
                <textarea id="AdditionalCommentsTxt" name="textFloat" style="padding: 1em;font-weight:200;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;width:95%;height:9em;"></textarea>
            </center>

        </div>
        <br />
        <center>
            <span style="font-family: Tahoma, Geneva, sans-serif; color:black; font-size: small;">בחר הערות מתוך רשימה</span>
        </center>
        <center>
            <div style="width:95%">
                <script id="tagTemplateListComments" type="text/x-kendo-template">
              ניבחרו: #:values.length# 
                </script>
                <center style="height: 40px;border:1px solid rgba(128, 128, 128, 0.5);background-color:white;">
                    <input id="inputListComments" style="border:none;padding:1px;background-color:white;font-weight:200;width:95%;font-size:small;font-family: Tahoma, Geneva, sans-serif;" />
                </center>

            </div>
        </center>
        <footer data-role="footer">
            <center>
                <a data-role="button" data-bind="events: {click:homeModel.closePopAdditionalComments }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:40%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                    <span style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;">אישור</span>

                </a>
            </center>
        </footer>
    </div>
    <!--תמונת סעיף-->
    <div data-role="modalview" id="popImageSeif" data-zoom="true" style="left: 1px;width: 98%; height: 100%; background-color:transparent">
        <header data-role="header" style="background-color: #18556a;">
            <div data-role="navbar" class="header" style="background-color: #18556a;">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white">צילום תמונה</span>
                <a data-role="button" data-align="right" name="sketch" onclick="getSketchSeifB();" style="color:white;background:#18556a">
                    <span>סמן</span>
                </a>
                <a data-role="button" data-align="left" name="sketch" style="color:transparent;background-color:transparent">
                    <span style="color:transparent;">סמן</span>
                </a>
            </div>
        </header>

        <div data-role="content" style="background-color: transparent; margin-top: 2%;">
            <center>
                <img id="pictureSeif" src="" style="width: 100%;" />
            </center>

        </div>
        <footer data-role="footer" style="background-color: transparent;">
            <a data-role="button" style="margin-bottom: 0%;border-radius: 0;width: 100%; background-color:#18556a;color: white;" id="" onclick="changeImageSeif()">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">החלף תמונה </span>
            </a>
            <a data-role="button" style="margin-bottom: 0%;border-radius: 0;width: 100%; background-color:#18556a;color: white;" onclick="closePopImageSeif()">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">סגור</span>
            </a>
        </footer>
    </div>
    <!-- פופאפ תמונות חדש -->
    <div data-role="modalview" id="picturedropListSeif" style="left:1px;width:80%; height:152px;direction: rtl;">
        <div onclick="takeFromCameraS()" style="width:100%;height:50px;background-color:transparent;padding:1%;border-bottom:1px solid #114A60;">
            <center style="margin-top: 3%;">
                <i class="fas fa-camera" style="color:#114A60;font-size:large;"></i>
                <span tyle="color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:medium;">מצלמה</span>
            </center>
        </div>
        <div onclick="takeFromGaleryS()" style="width:100%;height:50px;background-color:transparent;padding:1%;border-bottom:1px solid #114A60;">
            <center style="margin-top: 3%;">
                <i class="far fa-image" style="color:#114A60;font-size:large;"></i>
                <span tyle="color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:medium;">גלריה </span>
            </center>
        </div>
        <div onclick="cancelPopS()" style="width:100%;height:50px;background-color:transparent;padding:1%;border-bottom:none;">
            <center style="margin-top: 3%;">
                <i class="far fa-times-circle" style="color:#114A60;font-size:large;"></i>
                <span tyle="color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:medium;">סגור </span>
            </center>

        </div>
    </div>

    <!--פופאפ  הערות-->
    <div data-role="modalview" id="pop_item_description" style="left:1px;width: 95%; height: 33%;">
        <br />
        <div style="width:100%;height:36%; background-color:#e9eaeb;box-shadow:0 4px 2px -2px #c7c1c1;">
            <label style="box-shadow: 0px 2px 3px #A29E9E;background-color:#1A607C;font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;font-weight: 200;text-align:center;padding-left: 6px;padding-top: 2px;padding-right: 12px;padding-bottom: 3px;float: right;">הערות נוספות</label>
        </div>
        <br />
        <br />
        <div style="text-align:center;" dir="rtl">
            <center>
                <textarea id="description_html" style="padding: 1em;font-weight:200;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;width:25em;height:7em;"></textarea>
            </center>

        </div>
        <footer data-role="footer">
            <center>
                <a data-role="button" data-bind="events: {click:homeModel.close_pop_item_description }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:40%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                    <span style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;">אישור</span>

                </a>
            </center>
        </footer>
    </div>
    <style>
        #listviewDescription > li {
            width: 100%;
            padding: 0%;
            text-align: right;
        }
            /*#listviewDescription > li:hover {
                background-color: #114A60;
            }*/
    </style>
    <script>
        function clickItemNote(div) {
            app.controlPoint.homeModel.itemClickSectionNote(div);
        }
    </script>
    <div data-role="modalview" id="popDescription" style="left:1px;width: 100%; height:100%;">
        <br />
        <div style="width:100%;height:36%; background-color:#e9eaeb;box-shadow:0 4px 2px -2px #c7c1c1;">
            <label style="box-shadow: 0px 2px 3px #A29E9E;background-color:#1A607C;font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;font-weight: 200;text-align:center;padding-left: 6px;padding-top: 2px;padding-right: 12px;padding-bottom: 3px;float: right;">הערות נוספות</label>
        </div>
        <br />
        <br />
        <label id="textFromList"></label>
        <br />
        <!--<div style="text-align:center;" dir="rtl" id="DescriptionGeneri"> </div>-->
        <ul data-role="listview" id="listviewDescription" data-style="inset" data-template="templateDescription" style="background-color:#e9eaeb;width: 100%;" data-bind="{ source: homeModel.dataSourceSectionNote}" data-pull-to-refresh="false"></ul>
        <script type="text/x-kendo-template" id="templateDescription">
            <div onclick="clickItemNote(this)" id="#=data['id']#" style="background-color:rgb(166,175,179);border-bottom: 1px solid white; width: 100%; padding:2%;">
                <label style="color: white;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:medium;width:100%">
                    #:data['NoteContent']#
                </label>
            </div>

        </script>
     
        <footer data-role="footer">
            <center>
                <a data-role="button" data-bind="events: {click:homeModel.closePopDescription }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:40%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                    <span style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;">אישור</span>

                </a>
            </center>
        </footer>
    </div>

    <div data-role="modalview" id="popDescriptionList" style="left:1px;width: 100%; height:100%;">
        <br />
        <div style="width:100%;height:36%; background-color:#e9eaeb;box-shadow:0 4px 2px -2px #c7c1c1;">
            <label style="box-shadow: 0px 2px 3px #A29E9E;background-color:#1A607C;font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;font-weight: 200;text-align:center;padding-left: 6px;padding-top: 2px;padding-right: 12px;padding-bottom: 3px;float: right;">הערות נוספות</label>
        </div>
        <br />
        <br />
        <!--<center>
            <div style="width:95%">
                <script id="tagTemplateListComments" type="text/x-kendo-template">
                    #:maxTotal#    /   #:values.length#
                </script>
                <center style="height: 40px;border:1px solid rgba(128, 128, 128, 0.5);background-color:white;">
                    <input id="inputListComments" style="border:none;padding:1px;background-color:white;font-weight:200;width:95%;font-size:small;font-family: Tahoma, Geneva, sans-serif;" />
                </center>

            </div>
        </center>-->
        <footer data-role="footer">
            <center>
                <a data-role="button" data-bind="events: {click:homeModel.closePopDescriptionList }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:40%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                    <span style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;">אישור</span>

                </a>
            </center>
        </footer>
    </div>
    <!--פופאפ מצלמה או גלריה-->
    <div data-role="modalview" id="popPictureFrom" style="left:1px;width: 90%; height: 20%;">
        <div style="text-align:center;background-color:transparent;" dir="rtl">
            <center>
                <ul class="cameraorglery1" data-role="buttongroup" data-index="-1">
                    <li dir="ltr" style=" border: 1.5px;border-color:black; color: black; background-color: #e9eaeb;">
                        <a onclick="takeFromCamera()" data-role="button" data-icon="cameraNew" style="width:98%;border-style: solid;background-color: #e9eaeb;border-color:black; color: black;font-family:Tahoma, Geneva, sans-serif;font-weight:200 ">
                            <span style="color:black; font-size:small; height:5rem;font-family:Tahoma, Geneva, sans-serif;">מצלמה</span>
                        </a>
                    </li>
                    <li dir="ltr" style=" border: 1.5px;border-color:black; color: black;background-color: #e9eaeb;">
                        <a onclick="takeFromGalery()" data-role="button" data-icon="galeryNew" style="width:98%;border-style: solid;background-color: #e9eaeb;border-color:black; color: black;font-family:Tahoma, Geneva, sans-serif;font-weight:200">
                            <span style="color:black; font-size:small; height:5rem;font-family:Tahoma, Geneva, sans-serif;"> גלריה/רחפן</span>
                        </a>
                    </li>
                </ul>
            </center>
        </div>
        <br />

        <footer data-role="footer">
            <center>
                <a data-role="button" data-bind="events: {click:homeModel.closePopPictureFrom}" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:30%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                    <span style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;">סגור</span>

                </a>
            </center>
        </footer>
    </div>
    <!--2פופאפ מצלמה או גלריה-->
    <div data-role="modalview" id="popPictureFrom1" style="left:1px;width: 90%; height: 20%;">
        <div style="text-align:center;background-color:transparent;" dir="rtl">
            <center>
                <ul class="cameraorglery1" data-role="buttongroup" data-index="-1">
                    <li dir="ltr" style=" border: 1.5px;border-color:black; color: black; background-color: #e9eaeb;">
                        <a onclick="takeFromCamera1()" data-role="button" data-icon="cameraNew" style="width:98%;border-style: solid;background-color: #e9eaeb;border-color:black; color: black;font-family:Tahoma, Geneva, sans-serif;font-weight:200 ">
                            <span style="color:black; font-size:small; height:5rem;font-family:Tahoma, Geneva, sans-serif;">מצלמה</span>
                        </a>
                    </li>
                    <li dir="ltr" style=" border: 1.5px;border-color:black; color: black;background-color: #e9eaeb;">

                        <a onclick="takeFromGalery1()" data-role="button" data-icon="galeryNew" style="width:98%;border-style: solid;background-color: #e9eaeb;border-color:black; color: black;font-family:Tahoma, Geneva, sans-serif;font-weight:200">
                            <span style="color:black; font-size:small; height:5rem;font-family:  Tahoma, Geneva, sans-serif;"> גלריה/רחפן</span>
                        </a>
                    </li>
                </ul>
            </center>
            <br />
        </div>
        <footer data-role="footer">
            <center>
                <a data-role="button" data-bind="events: {click:homeModel.closePopPictureFrom1}" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:30%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                    <span style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;">סגור</span>
                </a>
            </center>
        </footer>
    </div>
    <!--פופאפ תמונה 1-->
    <div data-role="modalview" id="pop_image_all_control_point_1" data-zoom="true" dir="rtl" style="left: 1px;width: 90%; height: 100%; background-color:transparent">
        <header data-role="header" style="border-style: solid;  border-width: 1px; border-top-style: hidden; border-left-style: hidden; border-right-style: hidden;">
            <div data-role="navbar" style="background-image: url('');background-color: #1A607C;">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white">תמונה</span>
            </div>
        </header>
        <div data-role="content" dir="rtl" style="background-color: transparent; margin-top: 2%;">
            <center>
                <img id="picture_all_control_point1" src="" style="width: 100%;" />
            </center>
        </div>
        <footer data-role="footer" style="background-color: transparent;">
            <a data-role="button" style="margin-bottom: 0%;border-radius: 0; width: 99%;background-color:#1A607C;color: white;" data-bind="events: {click:homeModel.openPopPictureFrom1}">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">החלף תמונה</span>
            </a>
            <a data-role="button" class="km-primary" style="margin-bottom: 0%;border-radius: 0;width: 99%; background-color: #1A607C; color: white;" data-bind="events: { click:homeModel.image_all_control_point_1_ClosePop }">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">סגור</span>
            </a>
        </footer>
    </div>
    <!--פופאפ תמונה 2-->
    <div data-role="modalview" id="pop_image_all_control_point_2" data-zoom="true" dir="rtl" style="left: 1px;width:100%; height:100%; background-color:transparent">
        <header data-role="header" style="border-style: solid;  border-width: 1px; border-top-style: hidden; border-left-style: hidden; border-right-style: hidden;">
            <div data-role="navbar" style="background-image: url('');background-color: #1A607C;">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">תמונה</span>
            </div>
        </header>
        <div data-role="content" dir="rtl" style="background-color: transparent; margin-top: 2%;">
            <center>
                <img id="picture_all_control_point2" src="" style="width: 100%;" />
            </center>
        </div>
        <footer data-role="footer" style="background-color: transparent;">
            <a data-role="button" style="margin-bottom: 0%;
                border-radius: 0;
                width: 99%;
                background-color:#1A607C;
                color: white;" data-bind="events: {click:homeModel.openPopPictureFrom1}">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">החלף תמונה </span>
            </a>
            <a data-role="button" class="km-primary" style="margin-bottom: 0%;
                border-radius: 0;
                width: 99%;
                background-color:#1A607C;
    color: white;" data-bind="events: { click:homeModel.image_all_control_point_2_ClosePop }">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">סגור</span>
            </a>
        </footer>
    </div>

</div>



