<div data-role="view" data-layout="main" data-model="app.controlPoint" data-init="app.controlPoint.onShowSectionInit" data-show="app.controlPoint.onShowSectionEdit" style="" dir="rtl">
    <header data-role="header">
        <div data-role="navbar" class="header" style="background: linear-gradient(5.58deg, #923714 0%, #f7931e 100%);">
            <span id="controlPointLabelEdit"></span>
            <a class="headerButton" data-role="button" data-align="right" style="color: white;" href="components/hightGuard/view.html">
                <i class="material-icons" style="color:white">home</i>
            </a>
            <a class="headerButton" id="" data-role="button" data-align="left" style="color: white;" href="#:back">
                <i class="material-icons" style="color:white">navigate_next</i>
            </a>
        </div>

    </header>


    <div style="background-color: transparent;height:3px;"></div>
    <center>
        <div id="sectionStatusEditDiv" style="width:100%;background-color: #fff;"></div>
        <br />
        <div style="width:100%;background-color: #fff;">
            <!-- תמונה 1 -->
            <div class="divFinding" dir="rtl" style="border:none;">
                <table border="0" style="width:100%">
                    <tr style="width:100%">
                        <td style="width:80%">
                            <label style="color:rgba(0, 0, 0, 0.82); font-family:Tahoma, Geneva, sans-serif;font-weight: 200;font-size:small;"> תמונה 1</label>
                        </td>
                        <td style="width:20%">
                            <a data-role="button" id="capturePhoto1Edit" onclick="takeIdImageEdit(this.id)" data-icon="cameraNew" style="color:rgba(0, 0, 0, 0.82);background-color:transparent;border-style: none;right:57%;"></a>
                        </td>
                    </tr>
                </table>

            </div>
            <!-- תמונה 2 -->
            <div class="divFinding" dir="rtl" style="border:none;">
                <table border="0" style="width:100%">
                    <tr style="width:100%">
                        <td style="width:80%">
                            <label style="color:rgba(0, 0, 0, 0.82); font-family:Tahoma, Geneva, sans-serif;font-weight: 200;font-size:small;"> תמונה 2</label>
                        </td>
                        <td style="width:20%">
                            <a data-role="button" id="capturePhoto2Edit" onclick="takeIdImageEdit(this.id)" data-bind="enabled:flagImage" data-icon="cameraNew" style="color:rgba(0, 0, 0, 0.82);background-color:transparent;border-style: none;right:57%;"></a>
                        </td>
                    </tr>
                </table>

            </div>
            <!--הערות נוספות-->
            <div class="divFinding" dir="rtl" style="border-bottom-color:transparent;">
                <table border="0" style="width:100%">
                    <tr style="width:100%">
                        <td style="width:100%">
                            <label style="color:rgba(0, 0, 0, 0.82); font-family:Tahoma, Geneva, sans-serif;font-weight: 200;font-size:small;">הערות נוספות</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <textarea id="descriptionEdit" style="padding: 1em;font-weight:200;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;height:7em;"></textarea>

                        </td>
                    </tr>
                </table>
            </div>
            <br />
        </div>
    </center>
    <!--פוטר -->
    <footer data-role="footer" style="background-color:#e9eaeb;">
        <br />
        <center>
            <table style="width:100%">
                <tr>

                    <td style="width:50%">
                        <div style="width:100%" id="editSection1">
                            <center>
                                <a data-role="button" data-bind="events: {click:homeModel.startEdit }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:96%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                                    <span style="font-family:Tahoma, Geneva, sans-serif;">ערוך</span>
                                </a>
                            </center>
                        </div>
                        <div style="width:100%" id="saveSectionAssign1">
                            <center>
                                <a data-role="button" data-bind="events: {click:homeModel.saveEditControlPoint }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:96%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                                    <span style="font-family:Tahoma, Geneva, sans-serif;">שמור</span>
                                </a>
                            </center>
                        </div>
                    </td>

                    <td style="width:50%">
                        <center>
                            <a data-role="button" data-bind="events: {click:homeModel.closeEdit1  }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:96%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                                <span style="font-family:Tahoma, Geneva, sans-serif;">סגור</span>
                            </a>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
    </footer>
    <script>
        function takeIdImageEdit(id) {
            if (app.controlPoint.get("flagIsEdit") == true) {
                if (id == "capturePhoto2Edit") {
                    if (app.controlPoint.flagImageEdit == true) {
                        app.controlPoint.homeModel.set("cameraIdEdit", id)
                        app.controlPoint.homeModel.ifOpenPictureFromEdit();
                    }
                }
                else {
                    app.controlPoint.homeModel.set("cameraIdEdit", id)
                    app.controlPoint.homeModel.ifOpenPictureFromEdit();
                }
            }
            else {
                app.controlPoint.homeModel.set("cameraIdEdit", id)
                app.controlPoint.homeModel.ifOpenPictureFromEdit();
            }

        }
        function takeFromGaleryEdit() {
            app.controlPoint.homeModel.getPhotoLibraryEdit();
        }
        function takeFromCameraEdit() {
            app.controlPoint.homeModel.takePhotoEdit();
        }
        function takeFromGalery1Edit() {
            app.controlPoint.homeModel.getPhotoLibrary1Edit();
        }
        function takeFromCamera1Edit() {
            app.controlPoint.homeModel.takePhoto1Edit();
        }
        function myChooseSectionEditStatus(controlPointId, thisId) {
            var statusId = "";
            for (var i = 0; i < thisId.length - 2; i++) {
                statusId += thisId[i]
            }
            if (document.getElementById(thisId).checked == true) {
                app.controlPoint.homeModel.addToSectionStatusArr(controlPointId, statusId);
            }
            else {
                app.controlPoint.homeModel.removeToSectionStatusArr(controlPointId);
            }
        }
        function oneCheckedEdit() {
            $("input:checkbox").on('click', function () {
                var $box = $(this);
                if ($box.is(":checked")) {
                    var group = "input:checkbox[name='" + $box.attr("name") + "']";
                    $(group).prop("checked", false);
                    $box.prop("checked", true);
                } else {
                    $box.prop("checked", false);
                }
            });
        }
        function myChooseSectionStatusND(this1, seif, val) {
            app.controlPoint.homeModel.myChooseSectionStatusND(this1, seif, val);
            //var arrObjectes = app.controlPoint.homeModel.get('arrObjectes');
            //for (var i = 0; i < arrObjectes.length; i++) {
            //    for (var j = 0; j < arrObjectes[i].arrSeif.length; j++) {
            //        if (arrObjectes[i].arrSeif[j].id == seif) {
            //            arrObjectes[i].arrSeif[j].value = val;
            //            break
            //        }

            //    }
            //}
            //app.controlPoint.homeModel.set('arrObjectes', arrObjectes)
        }

        function takeIdImageSD(id) {
            app.controlPoint.homeModel.set("cameraIdSeif", id)
            if (document.getElementById(id).style.color == "red") {
                var realId = "";
                for (var i = 5; i < id.length; i++) {
                    realId += id[i];
                }
                var arr = app.controlPoint.homeModel.get("arrSeifImage");
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].id == realId)
                        document.getElementById("pictureSeifD").src = arr[i].src;
                }
                $("#popImageSeifD").kendoMobileModalView("open");

            }
            else {
                if (app.controlPoint.get("flagIsEdit")==true)
                  $("#picturedropListSeifD").kendoMobileModalView("open");
            }

        }
        function takeFromCameraSD() {
            app.controlPoint.homeModel.takePhotoSD();
        }
        function takeFromGalerySD() {
            app.controlPoint.homeModel.getPhotoLibrarySD();
        }

        function changeImageSeifD() {
            $("#popImageSeifD").kendoMobileModalView("close");
            $("#picturedropListSeifD").kendoMobileModalView("open");
        }
        function closePopImageSeifD() {
            $("#popImageSeifD").kendoMobileModalView("close");
        }
        function cancelPopSD() {
            $("#picturedropListSeifD").kendoMobileModalView("close");
        }
    </script>
    <div data-role="modalview" id="popImageSeifD" data-zoom="true" style="left: 1px;width: 98%; height: 100%; background-color:transparent">
        <header data-role="header" style="background-color: #18556a;">
            <div data-role="navbar" class="header" style="background-color: #18556a;">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white">צילום תמונה</span>
                <!--<a data-role="button" data-align="right" id="cordova-plugin-sketch-open1" style="color:white;background:#18556a">
                    <span>סמן</span>
                </a>
                <a data-role="button" data-align="left" style="color:transparent;background-color:transparent">
                    <span style="color:transparent;">סמן</span>
                </a>-->
            </div>
        </header>

        <div data-role="content" style="background-color: transparent; margin-top: 2%;">
            <center>
                <img id="pictureSeifD" src="" style="width: 100%;" />
            </center>

        </div>
        <footer data-role="footer" style="background-color: transparent;">
            <a data-role="button" style="margin-bottom: 0%;border-radius: 0;width: 100%; background-color:#18556a;color: white;" id="changeImageSeifD" onclick="changeImageSeifD()">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">החלף תמונה </span>
            </a>
            <a data-role="button" style="margin-bottom: 0%;border-radius: 0;width: 100%; background-color:#18556a;color: white;" onclick="closePopImageSeifD()">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">סגור</span>
            </a>
        </footer>
    </div>
    <!-- פופאפ תמונות חדש -->
    <div data-role="modalview" id="picturedropListSeifD" style="left:1px;width:80%; height:152px;direction: rtl;" >
        <div onclick="takeFromCameraSD()" style="width:100%;height:50px;background-color:transparent;padding:1%;border-bottom:1px solid #114A60;">
            <center style="margin-top: 3%;">
                <i class="fas fa-camera" style="color:#114A60;font-size:large;"></i>
                <span tyle="color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:medium;">מצלמה</span>
            </center>
        </div>
        <div onclick="takeFromGalerySD()" style="width:100%;height:50px;background-color:transparent;padding:1%;border-bottom:1px solid #114A60;">
            <center style="margin-top: 3%;">
                <i class="far fa-image" style="color:#114A60;font-size:large;"></i>
                <span tyle="color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:medium;">גלריה </span>
            </center>
        </div>
        <div onclick="cancelPopSD()" style="width:100%;height:50px;background-color:transparent;padding:1%;border-bottom:none;">
            <center style="margin-top: 3%;">
                <i class="far fa-times-circle" style="color:#114A60;font-size:large;"></i>
                <span tyle="color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:medium;">סגור </span>
            </center>

        </div>
    </div>

    <!--פופאפ מצלמה או גלריה-->
    <div data-role="modalview" id="popPictureFromEdit" style="left:1px;width: 90%; height: 20%;">
        <div style="text-align:center;background-color:transparent;" dir="rtl">
            <center>
                <ul class="cameraorglery1" data-role="buttongroup" data-index="-1">
                    <li dir="ltr" style=" border: 1.5px;border-color:black; color: black; background-color: #e9eaeb;">
                        <a onclick="takeFromCameraEdit()" data-role="button" data-icon="cameraNew" style="width:98%;border-style: solid;background-color: #e9eaeb;border-color:black; color: black;font-family:Tahoma, Geneva, sans-serif;font-weight:200 ">
                            <span style="color:black; font-size:small; height:5rem;font-family:Tahoma, Geneva, sans-serif;">מצלמה</span>
                        </a>
                    </li>
                    <li dir="ltr" style=" border: 1.5px;border-color:black; color: black;background-color: #e9eaeb;">
                        <a onclick="takeFromGaleryEdit()" data-role="button" data-icon="galeryNew" style="width:98%;border-style: solid;background-color: #e9eaeb;border-color:black; color: black;font-family:Tahoma, Geneva, sans-serif;font-weight:200">
                            <span style="color:black; font-size:small; height:5rem;font-family:Tahoma, Geneva, sans-serif;"> גלריה/רחפן</span>
                        </a>
                    </li>
                </ul>
            </center>
        </div>
        <br />

        <footer data-role="footer">
            <center>
                <a data-role="button" data-bind="events: {click:homeModel.closePopPictureFromEdit}" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:30%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                    <span style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;">סגור</span>

                </a>
            </center>
        </footer>
    </div>
    <!--2פופאפ מצלמה או גלריה-->
    <div data-role="modalview" id="popPictureFrom1Edit" style="left:1px;width: 90%; height: 20%;">
        <div style="text-align:center;background-color:transparent;" dir="rtl">
            <center>
                <ul class="cameraorglery1" data-role="buttongroup" data-index="-1">
                    <li dir="ltr" style=" border: 1.5px;border-color:black; color: black; background-color: #e9eaeb;">
                        <a onclick="takeFromCamera1Edit()" data-role="button" data-icon="cameraNew" style="width:98%;border-style: solid;background-color: #e9eaeb;border-color:black; color: black;font-family:Tahoma, Geneva, sans-serif;font-weight:200 ">
                            <span style="color:black; font-size:small; height:5rem;font-family:Tahoma, Geneva, sans-serif;">מצלמה</span>
                        </a>
                    </li>
                    <li dir="ltr" style=" border: 1.5px;border-color:black; color: black;background-color: #e9eaeb;">

                        <a onclick="takeFromGalery1Edit()" data-role="button" data-icon="galeryNew" style="width:98%;border-style: solid;background-color: #e9eaeb;border-color:black; color: black;font-family:Tahoma, Geneva, sans-serif;font-weight:200">
                            <span style="color:black; font-size:small; height:5rem;font-family:Tahoma, Geneva, sans-serif;"> גלריה/רחפן</span>
                        </a>
                    </li>
                </ul>
            </center>
            <br />
        </div>
        <footer data-role="footer">
            <center>
                <a data-role="button" data-bind="events: {click:homeModel.closePopPictureFrom1Edit}" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:30%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                    <span style="font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;">סגור</span>
                </a>
            </center>
        </footer>
    </div>
    <!--פופאפ תמונה 1-->
    <div data-role="modalview" id="pop_image_all_control_point_1Edit" data-zoom="true" dir="rtl" style="left: 1px;width: 90%; height: 100%; background-color:transparent">
        <header data-role="header" style="border-style: solid;  border-width: 1px; border-top-style: hidden; border-left-style: hidden; border-right-style: hidden;">
            <div data-role="navbar" style="background-image: url('');background-color: #1A607C;">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white">תמונה</span>
            </div>
        </header>
        <div data-role="content" dir="rtl" style="background-color: transparent; margin-top: 2%;">
            <center>
                <img id="picture_all_control_point1Edit" src="" style="width: 100%;" />
            </center>
        </div>
        <footer data-role="footer" style="background-color: transparent;">
            <div id="imageEdit1">
                <a data-role="button" style="margin-bottom: 0%;border-radius: 0; width: 99%;
               background-color:#1A607C;color: white;"
                   data-bind="events: {click:homeModel.openPopPictureFrom1Edit}">
                    <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">החלף תמונה</span>
                </a>
            </div>

            <a data-role="button" class="km-primary" style="margin-bottom: 0%;border-radius: 0;width: 99%;
               background-color: #1A607C; color: white;"
               data-bind="events: { click:homeModel.image_all_control_point_1_ClosePopEdit }">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">סגור</span>
            </a>
        </footer>

    </div>
    <!--פופאפ תמונה 2-->
    <div data-role="modalview" id="pop_image_all_control_point_2Edit" data-zoom="true" dir="rtl" style="left: 1px;width:100%; height:100%; background-color:transparent">
        <header data-role="header" style="border-style: solid;  border-width: 1px; border-top-style: hidden; border-left-style: hidden; border-right-style: hidden;">
            <div data-role="navbar" style="background-image: url('');background-color: #1A607C;">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">תמונה</span>
            </div>
        </header>
        <div data-role="content" dir="rtl" style="background-color: transparent; margin-top: 2%;">
            <center>
                <img id="picture_all_control_point2Edit" src="" style="width: 100%;" />
            </center>
        </div>
        <footer data-role="footer" style="background-color: transparent;">
            <div id="imageEdit2">
                <a data-role="button" style="margin-bottom: 0%;
                border-radius: 0;
                width: 99%;
                background-color:#1A607C;
                color: white;" data-bind="events: {click:homeModel.openPopPictureFrom1Edit}">
                    <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">החלף תמונה </span>
                </a>
            </div>

            <a data-role="button" class="km-primary" style="margin-bottom: 0%;
                border-radius: 0;
                width: 99%;
                background-color:#1A607C;
    color: white;" data-bind="events: { click:homeModel.image_all_control_point_2_ClosePopEdit }">
                <span style="font-family:Tahoma, Geneva, sans-serif;color:white;">סגור</span>
            </a>
        </footer>
    </div>
</div>
