<div data-role="view" data-layout="main" data-model="app.hightGuard" data-show="app.hightGuard.onShow" style="" dir="rtl">
    <header data-role="header">
        <div data-role="navbar" class="header" style="background: linear-gradient(5.58deg, #923714 0%, #f7931e 100%);">
            <span id="projectNameHome"></span>
        
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" class="headerButton">
                <i class="material-icons" style="color:white">reorder</i>
            </a>
            <a class="headerButton" id="" data-role="button" data-align="right" style="color: white;" href="">
                <i class="material-icons" style="color:transparent">dashboard</i>
            </a>
        </div>
    </header>
   
    <div style="background-color: transparent;height:3px;"> </div>
    <div>
        <center>
            <ul data-role="listview" id="listviewChecks" data-style="inset" data-template="templateChecks" style="background-color:#e9eaeb" data-bind="{ source: homeModel.dataSource, events: {click:  homeModel.itemClick}}" data-pull-to-refresh="false"></ul>
            <script type="text/x-kendo-template" id="templateChecks">
                #if(app.hightGuard.homeModel.projectDetailsCheckF==false && data['cb_isPublish']=="1"){#
                #app.hightGuard.homeModel.set('projectDetailsCheck', data)#
                #console.log(app.hightGuard.homeModel.get('projectDetailsCheck'))#
                #app.hightGuard.homeModel.set('projectDetailsCheckF', true)#
                #}#
                <div class="rectangle3" style="width:96.25%;">
                    <div style="width:95%;">
                        <table style="width:98%;margin-right:0%;" border="0">
                            <tr>
                                <td style="width:90%">
                                    <table style="width:100%;margin-right:0%;" border="0">
                                        <tr>
                                            <td colspan="2">
                                                <label style="color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:small;">
                                                    #=kendo.toString(data['createdAt'], "dd/MM/yyyy HH:mm")#
                                                    #:data['NameReviwer']#
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <label style="color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:small;">
                                                  סטטוס:#if(data['cb_isPublish']=="1"){#מבדק סגור#} else{#מבדק פתוח#}#
                                                </label>
                                            </td>
                                        </tr>
                                        #if(data['cb_isPublish']=="1"){#
                                        <tr>
                                            <td colspan="2">
                                                <label style="color: black;font-family:Tahoma, Geneva, sans-serif;font-weight: 400;font-size:small;"> <span style="font-family: Tahoma, Geneva, sans-serif;color: black;">ציון:</span> #:data['CheckupScore']#</label>
                                            </td>
                                        </tr>
                                        #}#

                                    </table>
                                </td>
                                <td>
                                    <span style="">
                                        <i class="fas fa-angle-left" style="color:black;font-size:large;"></i>
                                    </span>
                                </td>
                            </tr>


                        </table>
                    </div>
                </div>
            </script>

            
        </center>
    </div>

    <footer data-role="footer" style="background-color:#e9eaeb;">
        <div id="myFooter" onclick="addCheck()" style="background-color:transparent;">
            <label class="circle"  style=" left: 1em;position: absolute;bottom: 2em;z-index: 999;background-repeat:no-repeat;background-size:75%; background-position: center; "><br /><center style="color: white; margin: -2%;margin-left: -1%;  font-size: xx-large;">+</center></label>
        </div>
        
    </footer>

    <script>
        function projectDetails() {
            app.hightGuard.homeModel.detailsProject();

        }
        function goToLoginPage() {
            app.mobileApp.navigate('#components/authenticationView/view.html?logout=true');
        }
        function projectLocation() {
            app.mobileApp.navigate('#components/machoz/view.html');
        }
        function onClickVersion() {
            app.hightGuard.homeModel.onClickVersion();
        }
        function toChecks() {
            app.mobileApp.navigate('#components/hightGuard/allCheck.html');
        }

        function addCheck() {
            //app.hightGuard.homeModel.addCheck();
            $("#popParticipants").kendoMobileModalView("open");
            //app.mobileApp.navigate('#components/controlPoint/controlPointView.html');
        }

        //window.onclick = function (event) {
        //    if (!event.target.matches('.dropbtn1')) {
        //        var dropdowns = document.getElementsByClassName("dropdown-content1");
        //        var i;
        //        for (i = 0; i < dropdowns.length; i++) {
        //            var openDropdown = dropdowns[i];
        //            if (openDropdown.classList.contains('show')) {
        //                openDropdown.classList.remove('show');
        //            }
        //        }
        //    }
        //}
        function menuFunc() {
            document.getElementById("myDropdown1").classList.toggle("show");
        }
        function addParticipants() {
            var mi = document.getElementById("tourParticipantstext").value;
            var isMishtatef = false;
            if (mi == " " || mi == "" || mi == "null")
                isMishtatef = false;
            else
                isMishtatef = true;
            if (isMishtatef == true) {
                var tourParticipantsLabel = document.getElementById("tourParticipantsLabel").value;
                if (tourParticipantsLabel != " " && tourParticipantsLabel != "" && tourParticipantsLabel != "null") {
                    document.getElementById("tourParticipantsLabel").value = tourParticipantsLabel + ", " + mi;
                    //document.getElementById("tourParticipantstext").value = tourParticipantsLabel + ", " + mi;

                }
                else {
                    document.getElementById("tourParticipantsLabel").value = mi;
                    //document.getElementById("tourParticipantstext").value = mi;
                }


                document.getElementById("tourParticipantstext").value = "";
            }
        }
    </script>

    <div data-role="modalview" id="popProjectDetails" style="left:1px;width: 95%; height:95%;direction: rtl;text-align: right;">
        <br />
        <div style="width:100%;height:36%; background-color:#e9eaeb;box-shadow:0 4px 2px -2px #c7c1c1;">
            <label style="float: right;box-shadow: 0px 2px 3px #A29E9E;background-color:#1A607C;font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;font-weight: 400;text-align:center;padding-left: 6px;padding-top: 2px;padding-right: 12px;padding-bottom: 3px;">
                פרטי פרויקט
            </label>

        </div>
        <br /><br />
        <center>
            <table style="width:98%;" dir="rtl">
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                            שם הפרויקט:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <label id="projectNamePop" style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;"></label>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                            כתובת:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input type="text" data-bind="value:homeModel.projectDetails.ProjectAddress"  style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                          קו אורך:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input type="number" data-bind="value:homeModel.projectDetails.Longitude"  style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                            קו רוחב:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input type="number" data-bind="value:homeModel.projectDetails.Latitude" style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                           שם היזם:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input type="text" data-bind="value:homeModel.projectDetails.initiateName"  style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label  style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                            מס' ח.פ יזם:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input type="text" data-bind="value:homeModel.projectDetails.initiateNum" style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label  style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                            חברה מבצעת:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input id="mustField5" type="text" data-bind="value:homeModel.projectDetails.ExecutiveCompanyName"  style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                            מס' ח.פ מבצע:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input type="text" data-bind="value:homeModel.projectDetails.operatorNum" style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                           יישוב:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input id="mustField6" type="text" data-bind="value:homeModel.projectDetails.settlement" style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                           גוש/חלקה:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input type="text" data-bind="value:homeModel.projectDetails.lot" style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                            סוג הבנייה באתר:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input id="mustField7" type="text" data-bind="value:homeModel.projectDetails.constructionType" style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                            מנהל עבודה:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input id="mustField8" type="text"  data-bind="value:homeModel.projectDetails.ProjectManager"  style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
            </table>
            <table style="width:98%;" dir="rtl" id="projectDetailsCheckTable">
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                            מס' מבנים באתר:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input type="number" data-bind="value:homeModel.projectDetailsCheck.structureNum" disabled style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2%;">
                        <label style="font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;">
                           הערכת שטח בנוי:
                        </label>
                    </td>
                    <td style="padding: 2%;">
                        <input type="number" data-bind="value:homeModel.projectDetailsCheck.builtUpArea" disabled style="height: 27px;padding: 2%;border: none;font-family:Tahoma, Geneva, sans-serif;color:black;font-size:small;font-weight: 400;" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="width:100%;">
                            <div style="  display: inline-block;padding: 0.5em;font-weight:200;width:49%;text-align: center;border-bottom:2px solid #F7931E;font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                                <span style="font-family:Tahoma, Geneva, sans-serif;color: #000;">צילום שלט באתר</span>
                            </div>

                            <div  style="float: left;display: inline-block;padding: 0.5em;font-weight:200;width:49%;text-align: center;border-bottom:2px solid #F7931E;font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                                <span style="font-family:Tahoma, Geneva, sans-serif;color: #000;">תמונת בניין</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="width:100%;">
                            <div style="display:inline-block;font-weight:200;width:49%;text-align: center;font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                          <img src="" id="siteSignagePD" style="width:95%"/>
                            </div>

                            <div style="float:left;display:inline-block;font-weight:200;width:49%;text-align: center;font-size:small;font-family: Tahoma, Geneva, sans-serif;">
                                <img src=""  id="FillingStructuresPD" style="width:95%"/>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
        <footer data-role="footer" style="background-color:#e9eaeb;">
            <center>
                <a data-role="button" data-bind="events: {click:homeModel.assignDetails }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:30%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;">
                    <span style="font-family:Tahoma, Geneva, sans-serif;color:white;font-weight: 400;">שמור</span>
                </a>
                <a data-role="button" data-bind="events: {click:homeModel.closepopProjectDetails }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:30%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;">
                    <span style="font-family:Tahoma, Geneva, sans-serif;color:white;font-weight: 400;">סגור</span>
                </a>
            </center>
        </footer>
    </div>

    <!-- פופאפ משתתפים בסיור   -->
    <div data-role="modalview" id="popParticipants" style="width:99%;height:40%;">
        <br />
        <div style="width:100%;height:36%; background-color:#e9eaeb;box-shadow:0 4px 2px -2px #c7c1c1;">
            <label style="box-shadow: 0px 2px 3px #A29E9E;background-color:#1A607C;font-family: Tahoma, Geneva, sans-serif; color:white; font-size: small;font-weight: 200;text-align:center;padding-left: 6px;padding-top: 2px;padding-right: 12px;padding-bottom: 3px;float: right;">משתתפי הסיור</label>
        </div>
        <br />
        <br />
        <label id=""></label>
        <center>
            <table style="width:98%" dir="rtl">
                <tr>
                    <td style="width:20%">
                        <a data-role="button" onclick="addParticipants()" style="font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:100%;background-color:#f7931e;color: #ffffff;text-align:center;white-space: normal;direction:ltr;height: 40px;">
                            <span style="font-family:Tahoma, Geneva, sans-serif;">הוסף+</span>
                        </a>
                    </td>
                    <td style="width:80%">
                        <center>
                            <input type="text" id="tourParticipantstext" placeholder="משתתפים בסיור" style="padding: 0.5em;font-weight:200;width:97%;height: 40px;border:1px solid rgba(128, 128, 128, 0.5);font-size:small;font-family: Tahoma, Geneva, sans-serif;" />
                        </center>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <textarea id="tourParticipantsLabel" data-bind="enabled: false" style="border-color: transparent;background-color: transparent;font-family:Tahoma, Geneva, sans-serif;font-size:small;color:black;width:100%"></textarea>
                        <!--<label id="tourParticipantsLabel" style="font-family:Tahoma, Geneva, sans-serif;font-size:small;color:black;"></label>-->
                    </td>
                </tr>
            </table>
        </center>
        <footer data-role="footer" style="background-color:#e9eaeb;">
            <center>
                <table style="width:100%">
                    <tr>
                        <td style="width:50%">
                            <a data-role="button" data-bind="events: {click:homeModel.closePopParticipants }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:98%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                                <span style="font-family:Tahoma, Geneva, sans-serif;">סגור</span>
                            </a>
                        </td>
                        <td style="width:50%">
                            <div style="width:100%" id="editReport">
                                <a data-role="button" id="editReportBtn" data-bind="events: {click:homeModel.resumePopParticipants }" style=" font-family:Tahoma, Geneva, sans-serif;border-style:none;border-radius: 0;margin-bottom:2%;align-self:center;width:98%;background-color:#1A607C;color: #ffffff;text-align:center;white-space: normal;direction:ltr;">
                                    <span style="font-family:Tahoma, Geneva, sans-serif;">המשך</span>
                                </a>
                            </div>

                        </td>
                    </tr>
                </table>
            </center>
        </footer>
    </div>


</div>



